html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,
abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,
fieldset,form,label,input,textarea,legend,table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{border:0;margin:0;padding:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,time{display:block}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
input,textarea,select{*font-size:100%}
input,select {vertical-align:middle}
legend{color:#000}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration: line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
html,body{font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:1em;line-height:1.1}
html{direction:ltr;text-align:left;overflow-x:hidden;overflow-y:scroll}
body{font:13px/1.231 sans-serif;*font-size:small;user-select:none;-khtml-user-select:none;-moz-user-select:none;-webkit-user-select:none}
body,select,input,textarea{color:#444}
h1{font-size:138.5%}
h2{font-size:123.1%}
h3{font-size:108%}
h1,h2,h3{margin:1em 0}
h1,h2,h3,h4,h5,h6,strong{font-weight:bold}
abbr,acronym{border-bottom:1px dotted #000;cursor:help}
em{font-style:italic}
blockquote,ul,ol,dl{margin:1em}
ol,ul,dl{margin-left:2em}
ol li{list-style:decimal outside}
ul li{list-style:disc outside}
dl dd{margin-left:1em}
th,td{border:1px solid #000;padding:.5em}
th{font-weight:bold;text-align:center}
caption{margin-bottom:.5em;text-align:center}
p,fieldset,table{margin-bottom:1em}
select,input,textarea,button{font:99% sans-serif}
pre,code,kbd,samp{font-family:monospace,sans-serif}
a:link,a:visited{color:#3b5998;text-decoration:none}
a:hover,a:active{outline:none;text-decoration:none}
.cf:before,.cf:after{content:"\0020";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.clearfix:after{clear:both}
.cf{display:block;zoom:1}
html[xmlns] .cf{display:block}
* html .cf{height:1%}

@media print {
*{background:transparent !important;color:black !important;filter:none !important;-ms-filter:none !important;text-shadow:none !important}
a,a:visited{color:#444 !important;text-decoration:underline}
a[href]:after{content:" (" attr(href) ")"}
abbr[title]:after{content:" (" attr(title) ")"}
a[href^="javascript:"]:after,a[href^="#"]:after{content: ""}
pre,blockquote{border:1px solid #999;page-break-inside:avoid}
thead{display:table-header-group}
tr,img{page-break-inside:avoid}
@page{margin:0.5cm}
p,h2,h3{orphans:3;widows:3}
h2,h3{page-break-after:avoid}
}

ul,ul li{list-style:none;margin:0}
.lfloat{float:left}
.rfloat{float:right}
.hidden{display:none;visibility:hidden}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.invisible{visibility:hidden}

/* Begin Styles */

#f_login > div,#f_register > div {
margin:10px;
}

label {
display:inline-block;
width:7em;
}

input:disabled,textarea:disabled {
background-color:#ebebe4;
}

input[type="text"],input[type="password"],input[type="email"] {
width:300px;
}

#f_login input,#f_register input,#f_register select,.buttonTools input {
background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#fff));
background:-moz-linear-gradient(top,#fff,#fff);
border:1px solid #717171;
border-radius:3px;
-khtml-border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
box-shadow:1px 1px 0 #efefef;
-khtml-box-shadow:1px 1px 0 #efefef;
-moz-box-shadow:1px 1px 0 #efefef;
-webkit-box-shadow:1px 1px 0 #efefef;
color:#444;
font-size:11pt;
outline:none;
padding:5px;
text-shadow:0 1px 0 #666;
}

#f_login input:focus,#f_register input:focus {
box-shadow:0 0 5px #007eff;
-khtml-box-shadow:0 0 5px #007eff;
-moz-box-shadow:0 0 5px #007eff;
-webkit-box-shadow:0 0 5px #007eff;
}

#f_login input.error,#f_register input.error {
box-shadow:0 0 5px #ff4848;
-khtml-box-shadow:0 0 5px #ff4848;
-moz-box-shadow:0 0 5px #ff4848;
-webkit-box-shadow:0 0 5px #ff4848;
}

.buttonTools {
height:30px;
margin-top:5px;
}

.buttonTools ul.lfloat li:first-child input {
background-color:#4d90fe;
background-image:linear-gradient(top,#4d90fe,#4787ed);
background-image:-o-linear-gradient(top,#4d90fe,#4787ed);
background-image:-moz-linear-gradient(top,#4d90fe,#4787ed);
background-image:-ms-linear-gradient(top,#4d90fe,#4787ed);
background-image:-webkit-linear-gradient(top,#4d90fe,#4787ed);
border:1px solid #3079ed;
color:#fff;
}

.buttonTools ul.rfloat li:last-child input {
background-color:#3d9400;
background-image:linear-gradient(top,#3d9400,#398a00);
background-image:-o-linear-gradient(top,#3d9400,#398a00);
background-image:-moz-linear-gradient(top,#3d9400,#398a00);
background-image:-ms-linear-gradient(top,#3d9400,#398a00);
background-image:-webkit-linear-gradient(top,#3d9400,#398a00);
border:1px solid #29691d;
color:#fff;
filter:alpha(opacity=50);
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
opacity:0.5;
-khtml-opacity:0.5;
-moz-opacity:0.5;
}

.buttonTools ul li {
float:left;
}

.buttonTools ul li:not(:first-child) {
margin-left:5px;
}

.buttonTools label {
display:block;
width:0;
}

.buttonTools input {
cursor:pointer;
}

#doc {
height:100%;
margin:0 auto;
position:relative;
width:980px;
}

#doc > header {
background:#666;
display:table;
height:60px;
left:0;
line-height:1.4;
overflow:hidden;
position:absolute;
top:0;
width:100%;
}

#doc > header h1 {
font-family:arial,sans-serif;
font-size:20pt;
left:18px;
margin:0;
position:absolute;
text-shadow:0 2px 2px rgb(255,255,255),0 4px 8px rgba(0,0,0,.4);
text-transform:uppercase;
top:10px;
user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-webkit-user-select:none;
}

#doc > header h1 span {
color:rgb(114,115,113);
cursor:pointer;
-webkit-mask-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,1)),to(rgba(0,0,0,0)));
position:absolute;
}

#doc > header h1:after{
content:"Social HnS";
color:rgb(63,63,63);
}

#doc > header .left {
display:table-cell;
padding-right:20px;
width:178px;
}

#doc > header .right {
display:table-cell;
width:770px;
}

#search {

}

#header_search {
border:1px solid #d9d9d9;
border-top:1px solid silver;
font-size:110%;
height:28px;
margin:14px 0 0 20px;
outline:0;
padding:0 10px 0 6px;
width:362px;
}

#header_search:hover,#header_search:focus {
border:1px solid #4d90fe;
box-shadow:inset inset 0 1px 2px rgba(0,0,0,0.3);
-khtml-box-shadow:inset 0 1px 2px rgba(0,0,0,0.3);
-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.3);
-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.3);
}

#pageNav li {
cursor:pointer;
display:inline-block;
float:left;
font-weight:bold;
padding:21px 10px 21px;
}

#pageNav li:hover {
background-color:#b3b3b3;
}

#pageNav a {
color:#fff;
}

#left {
left:0;
margin-top:12px;
overflow:hidden;
position:absolute;
top:60px;
width:200px;
word-wrap:break-word;
}

#body {
left:200px;
position:absolute;
right:0;
top:60px;
}

.out #body {
left:0;
}

.out #left,.out #right {
width:0;
}

#content {
border:solid #ddd;
border-width:0 1px 1px;
min-height:500px;
padding-top:12px;
width:568px;
}

#right {
right:0;
overflow:hidden;
position:absolute;
top:12px;
width:210px;
}

#body > footer {
color:#333;
font-size:10pt;
height:26px;
margin-top:10px;
}

#login,#register {
padding:0 10px 10px;
}

#welcome_box {
min-height:50px;
}

.welcome_image {
float:left;
margin-right:8px;
}

.welcome_image img {
height:50px;
width:50px;
}

#welcome_content {
display:table-cell;
padding-right:5px;
width:136px;
}

#welcome_content a:hover {
text-decoration:underline;
}

.welcome_name {
display:block;
font-weight:bold;
padding:4px 0 1px;
}

.welcome_editlink {
padding-top:1px;
}

#leftNav {
margin-top:6px;
}

.sideNavItem {
cursor:pointer;
}

.sideNavItem:hover {
background-color:#eff2f7;
}

.sideNavItem.selectedItem {
background-color:#d8dfea;
font-weight:bold;
}

.sideNavItem .item {
border-bottom:1px solid #fff;
color:#111;
display:block;
font-size:8pt;
padding:3px 8px 4px 28px;
position:relative;
}

.sideNavImg {
left:5px;
position:absolute;
text-align:center;
top:2px;
width:18px;
}

.sideNavImg .img {
background-image:url(i/icons/default.gif);
background-repeat:no-repeat;
display:inline-block;
height:16px;
width:16px;
}

.sideNavLink {
position:relative;
top:-1px;
}

.sideNavItem:hover .sideNavCount {
background-color:#fff;
}

.selectedItem .sideNavCount {
background-color:#eff2f7;
}

.sideNavCount {
background-color:#d8dfea;
border-radius:2px;
-khtml-border-radius:2px;
-moz-border-radius:2px;
-webkit-border-radius:2px;
color:#3b5998;
display:none;
float:right;
font-weight:bold;
left:-1px;
line-height:1.3;
padding:0 4px;
position:relative;
}

.loadingIndicator {
display:none;
}

#home_newsfeed {

}

.streamHeader {
margin:0 20px;
}

.streamHeading {
padding-bottom:16px;
}

.headerTop {
position:relative;
}

.headerTitle {
color:#1c2a47;
font-size:13pt;
font-weight:bold;
line-height:19px;
padding-left:22px;
}

.headerTitle .img {
background-image:url(i/icons/default.gif);
background-repeat:no-repeat;
display:inline-block;
height:16px;
left:0;
position:absolute;
top:2px;
width:16px;
}

.headerActions {
float:right;
margin-top:3px;
}

a.updateNewsFeed {
display:block;
text-align:right;
}

a.updateNewsFeed:hover {
text-decoration:underline;
}

.loadingMostRecent {
background-image:url(i/icons/spinner.gif);
background-repeat:no-repeat;
color:#ccc;
display:block;
float:left;
height:16px;
text-align:center;
width:22px;
}

.mostRecentCount {
background-color:#d8dfea;
border-radius:2px;
-khtml-border-radius:2px;
-moz-border-radius:2px;
-webkit-border-radius:2px;
color:#666;
display:none;
font-weight:bold;
margin-left:6px;
padding:0 4px;
}

.updateNewsFeed:hover .mostRecentCount {
background-color:#eff2f7;
}

.updateStatus {
padding-bottom:16px;
}

.updateStatus .buttonTools {
display:none;
}

.updateStatus #composer {
border-top:1px solid #ccc;
}

.updateStatus .wrap {
border-left:1px solid #ccc;
}

.updateStatus .innerWrap {
border:solid #b4bbcd;
border-width:0 1px 1px 0;
padding:5px;
}

.updateStatus .textarea {
background-color:transparent;
border:0;
max-height:16px;
outline:0;
padding:0;
resize:none;
vertical-align:bottom;
width:100%;
}

#home_stream {
line-height:1.4;
}

#stream {
word-wrap:break-word;
}

#stream > li {
border-bottom:1px solid transparent;
border-left:1px solid transparent;
border-top:1px solid #eee;
padding:16px 44px 0 80px;
}

#stream > li.active {
border-bottom:1px solid #ddd;
border-left:1px solid #4d90f0;
border-top:1px solid #ddd;
}

#stream > li.borderActive {
border-left:1px solid #a7c7f7;
}

.streamItem span.link {
color:#3b5998;
cursor:pointer;
text-decoration:none;
}

.streamItem span.link:hover {
text-decoration:underline;
}

.updateImg {
float:left;
height:48px;
margin-left:-60px;
width:48px;
}

.updateNameLink:hover {
text-decoration:underline;
}

.updateDate {
color:#999;
}

a.updateDateLink {
color:#999;
}

a.updateDateLink:hover {
text-decoration:underline;
}

.updateEdit {
display:none;
}

ul#stream > li:hover .updateEdit {
display:inline;
}

a.updateEditLink:hover {
text-decoration:underline;
}

.updateBody {
padding-top:3px;
}

ul#stream > li:hover .updateBody {
user-select:text;
-khtml-user-select:text;
-moz-user-select:text;
-webkit-user-select:text;
}

.editUpdateBody {
display:none;
margin:7px 0;
}

.updateAttachments {
display:none;
margin:7px 0;
}

.editUpdateBody.active,
.updateAttachments.active {
display:block;
}

.updateActions {
margin:8px 0;
}

ul.streamActions > li:not(:first-child) {
border-top:1px dotted #ccc;
display:none;
}

ul.streamActions > li.updateShares,
ul.streamActions > li.updateOlderComments,
ul.streamActions > li.updateNewComments {
overflow:hidden;
text-overflow:ellipsis;
-ms-text-overflow:ellipsis;
-o-text-overflow:ellipsis;
white-space:nowrap;
}

ul.streamActions > li.active {
display:block;
}

ul.streamActions > li {
color:#999;
padding:6px 7px;
}

ul.streamActions > li.clickable {
background-color:#fafafa;
cursor:pointer;
}

ul.streamActions > li.clickable:hover {
background-color:#f4f4f4;
}

ul.streamComments > li {
color:#111;
}

ul.streamComments > li:hover .commentTools{
display:inline;
}

.commentWrapper {
border-left:1px solid transparent;
padding:6px 0 4px;
}

ul.streamComments > li:not(:last-child) .commentWrapper {
border-bottom:1px dotted #CCC;
}

.commentContent {
margin-left:40px;
}

.commentImg {
float:left;
height:32px;
margin-left:-40px;
width:32px;
}

a.commentNameLink:hover {
text-decoration:underline;
}

.commentBody {
user-select:text;
-khtml-user-select:text;
-moz-user-select:text;
-webkit-user-select:text;
}

.expandComment,
.collapseComment {
display:none;
}

.commentTimeTools {
color:#999;
}

.commentTools {
display:none;
}

.updateComment {
padding-bottom:16px;
}

.updateComment .buttonTools {
display:none;
}

#updateComposer {
border-top:1px solid #ccc;
}

.updateComment .wrap {
border-left:1px solid #ccc;
}

.updateComment .innerWrap {
border:solid #b4bbcd;
border-width:0 1px 1px 0;
padding:5px;
}

.updateComment .textarea {
background-color:transparent;
border:0;
max-height:16px;
outline:0;
padding:0;
resize:none;
vertical-align:bottom;
width:100%;
}

.moreUpdates {
background-color:#f4f4f4;
border-top:1px solid #e3e3e3;
color:#ccc;
font-weight:bold;
padding:15px;
text-align:center;
}

.loadMoreLink {
font-weight:bold;
}

.loadMore {
background-color:#fafafa;
border-top:1px solid #e3e3e3;
color:#ccc;
cursor:pointer;
display:none;
padding:10px 0;
text-align:center;
}

.loadMore:hover {
background-color:#f4f4f4;
}

.loadingMore {
color:#ccc;
display:block;
text-align:center;
padding:10px 0;
}

.loadingMoreText {
background-image:url(i/icons/spinner.gif);
background-position:230px;
background-repeat:no-repeat;
color:#ccc;
display:block;
text-align:center;
}

.profile_image img {
min-height:100px;
width:200px;
}